name: CI checks

on: [pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest  

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET 8.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'
        cache: true
        cache-dependency-path: "**/packages.lock.json"

    - name: Install dependencies
      run: dotnet restore --locked-mode

    - name: Build
      run: dotnet build --no-restore

  test:
    name: Test
    runs-on: ubuntu-latest  

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET 8.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'
        cache: true
        cache-dependency-path: "**/packages.lock.json"

    - name: Install dependencies
      run: dotnet restore --locked-mode

    - name: Test
      run: dotnet test --no-restore

  formatter:
    name: Format
    runs-on: ubuntu-latest  

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET 8.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'
        cache: true
        cache-dependency-path: "**/packages.lock.json"

    - name: Install dependencies
      run: dotnet tool install csharpier

    - name: Formatter
      run: dotnet csharpier check .
